.TextSlider {
  overflow: hidden;
}

.ticker_wrap {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  height: 3.5rem;
}

.ticker_wrap:before,
.ticker_wrap:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.ticker_wrap:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.ticker_wrap:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.ticker {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 60s linear infinite;
}

.ticker_highlight {
  color: #fe1b1c;
}

.item_collection {
  position: relative;
  left: 0%;
  animation: swap 60s linear infinite;
}

.item {
  display: inline-block;
  padding-right: 0.5rem;
  font-size: 2rem;
  color: black;
  font-family: Involve, Unbounded, sans-serif;
  font-weight: 500;
}

@media (max-width: 550px) {
  .ticker_wrap:before,
  .ticker_wrap:after {
    width: 35px;
  }

  .item {
    font-size: 26px;
  }
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes swap {
  0%,
  50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}

/*  */
