.LiquidAnimation {
  position: relative;
}

.rectangle {
  border-radius: 45px 45px 38px 45px;
}

.rectangle_bottom {
  overflow: hidden;
  position: absolute;
  background-color: white;
  bottom: -61.5px;
  left: -5px;
  right: 1;
  margin: 0 auto;
}

.rectangle_top {
  overflow: hidden;
  position: absolute;
  background-color: white;
  bottom: 0;
  top: -80px;
}

.circle_left {
  position: absolute;
  left: -9px;
  width: 80px;
  height: 55px;
  margin: -20px 0 20px 0;
  transform: rotate(50deg);
  border-radius: 50%;
  box-shadow: 15px 35px 0 0 #ffffff;
}

.circle_bottom {
  position: absolute;
  bottom: -15px;
  width: 80px;
  height: 65px;
  margin: -20px 0 20px 0;
  transform: rotate(56deg);
  border-radius: 50%;
  box-shadow: 10px 35px 0 0 #ffffff;
}

.circle_top {
  position: absolute;
  top: 23px;
  width: 80px;
  height: 65px;
  margin: -20px 0 20px 0;
  transform: rotate(228deg);
  border-radius: 50%;
  box-shadow: 6px 48px 0 0 #ffffff;
}

.circle_right {
  position: absolute;
  right: -6px;
  width: 80px;
  height: 65px;
  margin: -20px 0 20px 0;
  transform: rotate(235deg);
  border-radius: 50%;
  box-shadow: 6px 30px 0 0 #ffffff;
}

.mobile_rectangle_bottom {
  overflow: hidden;
  position: absolute;
  background-color: white;
  bottom: -1px;
  right: 1;
  margin: 0 auto;
}

.mobile_circle_middle {
  position: absolute;
  width: 80px;
  height: 65px;
  margin: -20px 0 20px 0;
  transform: rotate(60deg);
  border-radius: 50%;
  box-shadow: 10px 35px 0 0 #ffffff;
}

.mobile_circle_bottom {
  position: absolute;
  bottom: -15px;
  width: 80px;
  height: 65px;
  margin: -20px 0 20px 0;
  transform: rotate(60deg);
  border-radius: 50%;
  box-shadow: 10px 35px 0 0 #ffffff;
}

/*  */
.capsule {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 45px;
  left: 65px;
  border: 1px solid rgb(255, 255, 255);
}

.circle_explore {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fe1b1c;
  position: absolute;
  top: 10px;
  right: 0;
  border-radius: 50%;
}

.circle_explore_text {
  text-align: center;
  transform: rotate(-45deg);
  color: #fe1b1c;
  font-family: Involve;
  font-weight: 500;
  line-height: 15px;
}

.title_container {
  position: absolute;
}

.logo_container {
  position: absolute;
}

/*  */

.title_text {
  font-size: 42px;
  line-height: 44.92px;
  font-weight: 500;
  color: black;
  margin-top: 20px;
}

.sub_title_text {
  font-size: 14.66px;
  line-height: 15.36px;
}

@media (max-width: 1439px) {
  .title_text {
    font-size: 35.87px;
    line-height: 40.92px;
  }
}

@media (max-width: 1198px) {
  .title_text {
    font-size: 29px;
    line-height: 35.92px;
  }

  .circle_explore_text {
    font-size: 15px;
    line-height: 15px;
  }
}

@media (max-width: 868px) {
  .title_text {
    font-size: 23px;
    line-height: 32.92px;
    margin-top: 10px;
  }

  .sub_title_text {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .title_text {
    font-size: 32px;
    margin-top: 10px;
  }

  .circle_explore_text {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 660px) {
  .title_text {
    font-size: 28px;
  }
}

@media (max-width: 581px) {
  .title_text {
    font-size: 23px;
    line-height: 27.92px;
  }
  .sub_title_text {
    font-size: 9px;
  }
}

@media (max-width: 490px) {
  .logo_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .capsule {
    width: 48%;
    left: 12%;
  }

  .circle_left {
    transform: rotate(65deg);
  }

  .title_text {
    font-size: 27px;
    line-height: 27.92px;
  }

  .sub_title_text {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .title_text {
    font-size: 23px;
  }

  .sub_title_text {
    font-size: 11px;
  }
}

@media (max-width: 370px) {
  .title_text {
    font-size: 20px;
    line-height: 23.92px;
  }

  .sub_title_text {
    font-size: 10px;
  }

  .promo {
    width: 15rem;
  }

  .mobile_circle_middle {
    bottom: 11%;
    left: 48.7%;
  }

  .capsule {
    left: 9%;
  }
}

@media (max-width: 350px) {
  .sub_title_text {
    font-size: 9px;
  }
  .capsule {
    left: 6%;
  }
}
