.LiquidAnimation {
  position: relative;
}

.bg_image {
  width: 100%;
}

.circle_explore {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fe1b1c;
  position: absolute;
  top: 10px;
  right: 0;
  border-radius: 50%;
  width: 134px;
  height: 134px;
  transition: 0.5s;
  cursor: pointer;
}

.circle_explore:hover {
  background-color: #fe1b1c;
  transition: 0.5s;

  .circle_explore_text {
    display: none;
  }

  .circle_explore_lock {
    display: block;
  }
}

.circle_explore_lock {
  display: none;
}

.circle_explore:hover .circle_explore_text {
  transition: 0.5s;
  color: white;
}

.circle_explore_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotate(-45deg);
  color: #fe1b1c;
  font-family: Involve;
  font-weight: 1000;
  line-height: 20px;
  transition: 0.5s;
}

.title_container {
  bottom: 20px;
  position: absolute;
}

.logo_container {
  position: absolute;
}

/*  */

.title_text {
  font-size: 32px;
  line-height: 34px;
  font-weight: 500;
  color: black;
  margin-top: 20px;
}

.sub_title_text {
  font-size: 14.66px;
  line-height: 15.36px;
}

/*  */

@media (max-width: 1370px) {
  .title_text {
    font-size: 30px;
    line-height: 32px;
  }

  .circle_explore {
    width: 124px;
    height: 124px;
  }
}

@media (max-width: 1300px) {
  .title_text {
    font-size: 28px;
    line-height: 30px;
  }

  .sub_title_en {
    font-size: 13px;
    line-height: 12px;
  }
}

@media (max-width: 1198px) {
  .circle_explore_text {
    font-size: 14px;
    line-height: 15px;
  }

  .circle_explore {
    width: 114px;
    height: 114px;
  }
}

@media (max-width: 1165px) {
  .title_text {
    font-size: 26px;
    line-height: 28px;
  }
}

@media (max-width: 1100px) {
  .title_container {
    bottom: 5px;
  }

  .title_text {
    font-size: 24px;
    line-height: 26px;
  }

  .sub_title_en {
    font-size: 12px;
    line-height: 11px;
  }

  .circle_explore {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1024px) {
  .circle_explore_text {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 950px) {
  .title_text {
    font-size: 22px;
    line-height: 24px;
  }

  .sub_title_en {
    font-size: 11px;
    line-height: 10px;
  }

  .circle_explore {
    width: 95px;
    height: 95px;
  }
}

@media (max-width: 900px) {
  .title_text {
    font-size: 20px;
    line-height: 22px;
  }

  .title_text {
    margin-top: 10px;
  }

  .sub_title_text {
    font-size: 11px;
  }

  .circle_explore {
    width: 90px;
    height: 90px;
    top: 5px;
  }

  .circle_explore_text {
    font-size: 12px;
  }
}

@media (max-width: 840px) {
  .title_text {
    font-size: 18px;
    line-height: 20px;
  }

  .sub_title_en {
    font-size: 10px;
    line-height: 10px;
  }

  .circle_explore {
    width: 85px;
    height: 85px;
  }
}

@media (max-width: 799px) {
  .circle_explore {
    width: 94px;
    height: 94px;
  }
}

@media (max-width: 799px) {
  .title_text {
    font-size: 23px;
    line-height: 23px;
  }
}

@media (max-width: 685px) {
  .sub_title_text {
    font-size: 11px;
    line-height: 11px;
  }

  .title_text {
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 660px) {
  .circle_explore {
    width: 90px;
    height: 90px;
  }

  .circle_explore_text {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .sub_title_text {
    font-size: 11px;
    line-height: 11px;
  }

  .title_text {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 581px) {
  .title_container {
    bottom: 15px;
  }

  .title_text {
    font-size: 17px;
    line-height: 17px;
  }

  .sub_title_text {
    font-size: 9px;
  }

  .circle_explore {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 525px) {
  .circle_explore {
    width: 78px;
    height: 78px;
    top: 10px;
  }
}

/* mobile */
@media (max-width: 528px) {
  .title_text {
    font-size: 25px;
    line-height: 25px;
  }

  .circle_explore {
    width: 94px;
    height: 94px;
    right: 15px;
    top: 10px;
  }

  .sub_title_text {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 490px) {
  .circle_explore_text {
    font-size: 11px;
    line-height: 10px;
  }

  .sub_title_text {
    font-size: 13px;
    line-height: 13px;
  }
}

@media (max-width: 450px) {
  .title_text {
    font-size: 20px;
    line-height: 20px;
  }

  .circle_explore {
    width: 94px;
    height: 94px;
    right: 10px;
  }
}

@media (max-width: 439px) {
  .circle_explore {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 420px) {
  .title_container {
    bottom: 10px;
  }

  .title_text {
    font-size: 19px;
    line-height: 19px;
    margin-top: 10px;
  }

  .sub_title_text {
    font-size: 11px;
    line-height: 11px;
  }
}

@media (max-width: 390px) {
  .title_text {
    font-size: 17px;
    line-height: 17px;
  }
}

@media (max-width: 385px) {
  .circle_explore {
    width: 70px;
    height: 70px;
  }

  .circle_explore_text {
    font-size: 10px;
    line-height: 10px;
  }
}

@media (max-width: 370px) {
  .sub_title_text {
    font-size: 9px;
  }
}

@media (max-width: 350px) {
  .title_text {
    font-size: 16px;
    line-height: 16px;
  }

  .circle_explore {
    width: 60px;
    height: 60px;
  }

  .circle_explore_text {
    font-size: 8px;
    line-height: 8px;
  }
}
