.burger_inner {
  height: 100vh;
  display: none;
}

.burger_inner_active {
  display: block;
  animation: open 2s;
}

.burger_inner_inactive {
  animation: close 0.5s linear;
}

.burger_background {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../LiquidAnimation/assets/tablet.png");
  background-size: cover;
  background-position: top;
  background-size: 80%;
  background-repeat: no-repeat;
  filter: blur(35px);
  z-index: -1;
  opacity: 0.7;
}

.active {
  color: #fe1b1c;
  text-decoration: underline #fe1b1c 3px;
}

.list {
  font-family: Involve;
  font-weight: 500;
  margin: auto;
  margin-top: 70px;
  height: 380px;
  width: 98%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social_list {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-left: 5px;
  top: 85%;
  width: 84%;
  left: auto;
}

.copy_wrights {
  font-family: Involve;
  position: absolute;
  margin-top: 90px;
  font-size: 14px;
  color: rgba(30, 36, 45, 0.6);
}

@media (max-height: 620px) {
  .list {
    height: 50%;
  }
}

@media (max-width: 530px) {
  .burger_background {
    background-image: url("../LiquidAnimation/assets/mobile.png");
    background-position: top;
    background-size: 70%;
    right: 0;
    filter: blur(35px);
  }
}

@media (max-height: 450px) {
  .list {
    flex-direction: row;
    height: 30%;
  }
  .social_list {
    justify-content: center;
    margin-left: 0px;
    top: 75%;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .social_list {
    justify-content: center;
    margin-left: 0px;
    top: 83%;
  }
}

@media (max-width: 380px) {
  .copy_wrights {
    text-align: center;
    margin-top: 100px;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
  }
}
