.Header {
}

.isActive {
  position: relative;
}

.isActive::after {
  content: " ";
  position: absolute;
  right: -11px;
  bottom: 8px;

  display: block;
  background-color: #fe1b1c;
  width: 5px;
  height: 5px;
  border-radius: 60%;
}
