@import url("./vars.css");
@import url("./reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100%;
  margin: 0;
  font-family: Unbounded;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

html {
  scroll-behavior: smooth;
}

.hide {
  overflow: hidden;
}
