.Slider_wrapper {
  overflow-x: hidden;
  position: relative;
  white-space: nowrap;
}

.Slider {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.Slide {
  display: inline-block;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
}

.slide_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide_descr {
  position: absolute;
  width: 50%;
  right: auto;
  left: auto;
}

.star {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin-top: 27px;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.switcher {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  background-color: #e11800;
  bottom: 36%;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .slide_descr {
    width: 52%;
  }
}
